Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_045.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_045_L.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_045_R.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_090_L.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_090_R.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_135_R.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_135_L.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_180_R.uasset
Game/Belica/Characters/Heroes/Belica/Animations/M_Neutral_Crouch_Idle_Turn_180_L.uasset
/Content/AnimStarterPack
/Content/Interaction/Characters/UE4Mannequin
/Content/Weapons/Scifi_Cannon
/Content/Audio/Foley
/Content/Audio/Mix
/Content/Characters
/Content/Misc
/Content/Blueprints/AnimModifiers
/Content/Blueprints/AnimNotifies
/Content/FirstPerson
/Content/FPWeapon
/Content/FirstPersonArms
/Content/Environment/Maps/*BuiltData.uasset
/Content/Fab
/Content/LevelPrototyping
/Content/Interaction/Weapons/Revolver
